@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Shantell Sans', cursive;
    line-height: 1.6;
    color: #333;
}

header.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff5733;
    height: 10vh;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .lista {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

nav .lista li {
    margin: 0 2vw;
}

nav .lista li a {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

nav .lista li a:hover,
nav .lista li a.active {
    color: #363636; 
}

.section {
    padding: 5vh 10vw;
}

.fade-in {
    opacity: 0;
    animation: fade-in 2s forwards; 
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#container {
    height: 100vh;
    background-color: #fff;
    padding: 5vh 0;
    text-align: center;
}

#container h1 {
    color: #ff5733;
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 15vh;
}

.txt-container1 {
    color: #ff5733;
    font-size: 30px;
    margin-bottom: 20px;
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
}

.img1 {
    animation: moveUpDown 2s infinite;
    flex: 1;
    background: url('../imgs/img1.png') no-repeat;
    background-size: contain;
    height: 400px;
}

.img2 {
    flex: 1;
    background: url('../imgs/img2.png') no-repeat center;
    background-size: contain;
    height: 450px;
}

.img3 {
    flex: 1;
    background: url('../imgs/img3.png') no-repeat center;
    background-size: contain;
    height: 450px;
    
}

.img4 {
    flex: 1;
    background: url('../imgs/img4.png') no-repeat center;
    background-size: contain;
    height: 400px;
}

.txt-container2 {
    flex: 1;
    margin-left: 10vw;
}

.txt-container2 p {
    text-align: justify;
    color: #333;
    font-size: 18px;
}

.txt-container-rigth{
    margin-right: 10vw;
    flex: 1;
}

.txt-container-rigth p{
    text-align: justify;
    color: #333;
    font-size: 18px;
}

#container-3,
#container-4,
#container-5{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 5vh 0;
}

#container-6{
    align-items: center;
    justify-content: center;
    height: 90vh;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

.charts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#barra, #pizza {
    flex: 1;
    max-width: 45%;
    max-height: 45vh;
    margin-top: 5vh;
}

#pizza { 
    margin-left: 5vw;    
}
