@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Adicione um estilo para a classe .scrolling para aplicar uma transição suave */
.scrolling {
    transition: transform 0.5s ease-in-out;
}

.menu{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;  
    background-color: red;
    height: 10vh;
}

.lista{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.lista li{
    list-style: none;
}

.lista li a{
    font-size: 16px;
    font-family: 'Shantell Sans', cursive;
    color: white;
    text-decoration: none;
    margin-left: 0; 
    margin-right: 5vw; 
    transition: 0.5s;
}

.lista a:hover{
    opacity: 1.5;
    color: brown;
}

.lista li a.active {
    color: brown;
}

.container-geral{
    height: 600vh;
    align-items: center;
    margin-top: 4%
}

#container{
    height: 90vh;
}

#container1{
    height: 40vh;
}

.txt-container1 {
    height: 30vh;
    margin-top: 8%;
    width: 100%;
    align-items: center;
    text-align: center;
}

.txt-container1 h1{
    margin-left: 8%;
    text-align: justify;
    color: red;
    font-size: 100px;
    font-family: 'Shantell Sans', cursive;
}

.container-2{
    display: flex;
    height: 65vh;
}


.img-container2{
    background: url('../imgs/img1.png') no-repeat;
    background-size: 550px;
    background-position: right;
    width: 60%;
    align-items: center;
}

.txt-container2{
    width: 80%; 
    margin-left: 8%;
    margin-right: 10%;
    align-items: center;
    text-align: justify;
}

.txt-container2 p{
    color: #864823;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Shantell Sans', cursive;
}

#container-3{
    background-color: cadetblue;
    display: flex;
    height: 100vh;
}

#container-4{
    background-color: darkred;
    display: flex;
    height: 100vh;
}

#container-5{
    background-color: blanchedalmond;
    display: flex;
    height: 100vh;
}

#container-6{
    background-color: grey;
    display: flex;
    height: 100vh;
}