@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Shantell Sans', cursive;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff5733;
    height: 10vh;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .lista {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

nav .lista li {
    margin: 0 2vw;
}

nav .lista li a {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

nav .lista li a:hover,
nav .lista li a.active {
    color: #363636; 
    background-color: rgba(255, 87, 51, 0.2);
}

.container-geral {
    padding-top: 10vh;
}

.section {
    padding: 5vh 10vw;
}

#container {
    height: 100vh;
    background-color: #fff;
    padding: 5vh 0;
    text-align: center;
}

#container h1 {
    animation-duration: 1.5s;
    animation-name: fadeIn;
    color: #ff5733;
    font-size: 70px;
    margin-bottom: 20px;
}

.txt-container1{
    animation-duration: 1.5s;
    animation-name: fadeIn;
    color: #ff5733;
    font-size: 30px;
    margin-bottom: 20px;
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.img-container2 {
    animation: moveUpDown 2s infinite;
    flex: 1;
    background: url('../imgs/img1-removebg-preview.png') no-repeat;
    background-size: contain;
    height: 400px;
}

.txt-container2 {
    flex: 1;
    margin-left: 12vw;
}

.txt-container2 p {
    animation-duration: 2s;
    animation-name: fadeIn;
    text-align: justify;
    color: #333;
    font-size: 18px;
}

#container-3,
#container-4,
#container-5,
#container-6 {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container-3 {
    background-color: #5f9ea0;
}

#container-4 {
    background-color: #8b0000;
}

#container-5 {
    background-color: #ffebcd;
}

#container-6 {
    background-color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        margin-top: 100%;
        width: 300%;
    }
    to {
        margin-top: 0%;
        width: 100%;
    }
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

.section.fade-in {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#myChart{
    margin-top: 10vh;
}